*{
    transition: .2s linear;
}

.navbar-sider__section-list{
    position: fixed;
    inset: 0;
    z-index: 999;
    display: none;
}

.navbar-sider__section-list.navbar-sider__section-list--active{
    display: block;
}

.overlay-navbar-side{
    position:absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.622);
}

.navbar-side{
    position: absolute;
    top: 0;
    left: -100%;
}

.navbar-side.navbar-side--active{
    left: 0;
    transition: all 0.3s linear;
}

.navbar-sider__header{
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.listVideo-main{
    margin: var(--header-height) auto 0;
    padding: 20px;
    background-color: var(--section-show-video-gb);
}

.listVideo-main .container{
    width: 93%;
    margin: auto;
    max-width: 1400px;
}

/* section show video */
.play-video__title{
    margin: 3px 0 15px;
    font-size: 1.6rem;
    color: var(--icon-color);
    font-weight: 400;
}

.play-video__common-type-link > a{
    color: var(--blue-color);
    display: inline-block;
    padding-top: 7px;
    font-size: 1rem;
    padding-right: 4px;
}
/* section list video */

.listVideo-Choose__content{
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    height: 100%;
    transition: all 0.4s linear;
}

.listVideo-Choose__content .image{
    width: 168px;
    min-width: 168px;
    max-width: 200px;
    flex-shrink: 0;
    position: relative;
}

.listVideo-Choose__content .image>img{
    width: 100%;
    object-fit: cover;
}

.listVideo-Choose__box{
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
    flex-direction: column;
}

.listVideo-Choose__content:hover .listVideo-Choose__box{
    display: flex;
}

.listVideo-Choose__user-select{
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grba-gray-bg-select);
    position: relative;
    transition: all 0.3s ease;
}

.listVideo-Choose__user-select .listVideo-Choose__icon{
    color: var(--white-color);
    font-size: 2rem;
}

.listVideo-Choose__user-select  p{
    position: absolute;
    top:50%;
    right: 110%;
    transform: translateY(-50%);
    border-radius: 2px;

    width: 87px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--grba-gray-bg-select);
    color: var(--hover-color);
    font-size: 1.1rem;
    text-transform: capitalize;
    margin: 0;
    display: none;
}

.listVideo-Choose__user-select:hover .listVideo-Choose__icon+p{
    display: block;
}

.listVideo-Choose__time-VD{
    position: absolute;
    bottom:3px;
    right: 3px;
    padding: 1px 6px;
    font-size: 1.1rem;
    background-color: var(--grba-gray-bg-select);
    color: var(--white-color);
    border-radius: 2px;
}

.listVideo-Choose__box-details{
    margin-left: 7px;
    padding-right: 24px;
}

.listVideo-Choose__title{
    font-size: 1.4rem;
    color: var(--icon-color);
    margin: 0;
    padding-top: 2px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
    overflow: hidden;
}

.listVideo-Choose__name-channel{
    font-size: 1.2rem;
    margin: 5px 0 2px;
    color: var(--gray-text);
    display: flex;
    align-items: center;
}

.listVideo-Choose__name-channel > i {
    padding-left: 4px;
}

.listVideo-Choose__view-and-day-post{
    font-size: 1.2rem;
    margin: 0;
    color: var(--gray-text);
    position: relative;
}


/* 

:root{
    --title-color:rgb(8, 8, 8);
    --text-color:rgb(22, 22, 22);
    --gray-color-thin:#d6d6d6;
    --gray-light-color:rgb(206, 206, 206);
    --hover-color-click:#e5e5e5;
    --hover-color:#e7e7e7;
    --font-primarily:'Roboto', sans-serif;
    --rgba-color-click:rgba(211, 211, 211, 0.5);
    --icon-color:#030303;
    --scroll-color:#888888;
    --scroll-bg:#faf9f9;
    --scroll-hover:rgb(99, 99, 99);
    --header-height: 56px;
    --width-slider-bar: 240px;
    --blue-color:#206fd8;
    --micro-bg: rgba(177, 177, 177, 0.2);
    --white-color:#fff;
    --red-color:#ff0000;
    --gray-text:#606060;
    --hover--active:rgba(54, 54, 54, 0.3);
    --navbar-side-width: 240px;
    --section-show-video-gb:#f9f9f9;
    --grba-gray-bg-select:rgba(43, 43, 43, 0.877);
} */